{% extends 'flatpages/base.html' %}

{% block title %}
Все посты
{% endblock title %}

{% block content %}
   <h1>Все посты</h1>

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if news_list %}
    <h2>{{news_list|length}}</h2>
       <table>
           <tr>
               <td><h2>Название</h2></td>
               <td><h2>Дата</h2></td>
               <td><h2>Текст</h2></td>
               <td><h2>Автор</h2></td>

           </tr>

           {% for news in news_list %}
           <tr>
               <td><a href="/posts/{{news.id}}">{{ news.post_name }}</a></td>
               <td>{{ news.time_in| date:'DATETIME_FORMAT' }}</td>
               <td>{{ news.post_text|truncatechars:20 }}</td>

               <td>{{ news.author.name }}</td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}